{% extends 'app/home.html' %}
{% load static %}
{% block removal %}

<style>
    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }
    .btn {
        border: 2px solid gray;
        color: gray;
        background-color: white;
        padding: 8px 20px;
        font-size: 20px;
        font-weight: bold;
        border-radius: 8px; 
        cursor: pointer;
    }
    
    .btn:hover {
        background-color: #f0f0f0;
        border-color: #888; 
        transform: scale(1.05);
    }
    
    .btn:active {
        background-color: #e0e0e0; 
        border-color: #666;
        transform: scale(0.95); 
    }
    
    .upload-btn-wrapper input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
    .canvas-container {
        width: 800px;
        height: 600px;
        border: 1px solid black;
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        background-color: #EEEEEE;
    }
    canvas {
        max-width: 100%;
        max-height: 100%;
        cursor: default;
        
    }
    #results {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
    .result-image {
        text-align: center;
    }
    .result-image img {
        max-width: 100%;
        height: auto;
        border: 1px solid #ccc;
        padding: 10px;
    }
    button {
        border: none;
        color: white;
        background-color: #007bff;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s, transform 0.2s;
        margin: 5px; 
    }
    
    button:hover {
        background-color: #0056b3; 
        transform: scale(1.05);
    }
    
    button:active {
        background-color: #004494; 
        transform: scale(0.95); 
    }
    
    button#okBtn {
        background-color: #28a745; 
    }
    
    button#okBtn:hover {
        background-color: #218838;
    }
    
    button#resetBtn {
        background-color: #ffc107; 
        color: black;
    }
    
    button#resetBtn:hover {
        background-color: #e0a800;
    }
    
    button#clearBtn {
        background-color: #dc3545;
    }
    
    button#clearBtn:hover {
        background-color: #c82333;
    }

    #overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5); 
        z-index: 2;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }

    .spinner {
        border: 16px solid #f3f3f3; 
        border-top: 16px solid #3498db; 
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        z-index: 3;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    .processing-text {
        color: white;
        font-size: 24px;
        font-weight: bold;
        margin-top: 20px;
        text-align: center;
    }
</style>

<div class="container">
    <div id="overlay">
        <div class="spinner"></div>
        <div class="processing-text">Processing...</div>
    </div>
    <div class="upload-btn-wrapper">
        <button class="btn">Upload an image</button>
        <input type="file" id="imageUpload" accept="image/*" />
    </div>
    <div class="canvas-container">
        <canvas id="imageCanvas"></canvas>
    </div>
    <button id="okBtn" style="display:none;">Remove</button>
    <button id="resetBtn" style="display:none;">Back</button>
    <button id="clearBtn" style="display:none;">Clear</button>
    <div id="results" style="display:none;">
        <h3>Results</h3>
        <div class="result-image">
            <h4>Inpainted Image</h4>
            <img id="inpaintedImage" src="" alt="Inpainted Image" />
            <p id="imageSize"></p>
            <a id="downloadBtn" href="" download="inpainted_image.png" style="display:none;">Download Inpainted Image</a>
            <button id="continueBtn" style="display:none;">Continue</button>
        </div>
    </div>
    
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const imageUpload = document.getElementById('imageUpload');
        const canvas = document.getElementById('imageCanvas');
        const ctx = canvas.getContext('2d');
        const okBtn = document.getElementById('okBtn');
        const resetBtn = document.getElementById('resetBtn');
        const clearBtn = document.getElementById('clearBtn');
        const results = document.getElementById('results');
        const inpaintedImage = document.getElementById('inpaintedImage');
        const imageSize = document.getElementById('imageSize');
        const downloadBtn = document.getElementById('downloadBtn');
        const continueBtn = document.getElementById('continueBtn');
        const overlay = document.getElementById('overlay');
        let image = new Image();
        let rects = [];
        let currentRect = null;
        let drag = false;

        imageUpload.addEventListener('change', handleImageUpload);

        function handleImageUpload(e) {
            const reader = new FileReader();
            reader.onload = function(event) {
                image.onload = function() {
                    const containerWidth = document.querySelector('.canvas-container').clientWidth;
                    const containerHeight = document.querySelector('.canvas-container').clientHeight;
                    const imageAspectRatio = image.width / image.height;
                    const containerAspectRatio = containerWidth / containerHeight;

                    if (imageAspectRatio > containerAspectRatio) {
                        canvas.width = containerWidth;
                        canvas.height = containerWidth / imageAspectRatio;
                    } else {
                        canvas.height = containerHeight;
                        canvas.width = containerHeight * imageAspectRatio;
                    }

                    ctx.clearRect(0, 0, canvas.width, canvas.height);
                    ctx.drawImage(image, 0, 0, canvas.width, canvas.height);
                    canvas.style.cursor = 'crosshair';
                    okBtn.style.display = 'inline-block';
                    resetBtn.style.display = 'inline-block';
                    clearBtn.style.display = 'inline-block';
                };
                image.src = event.target.result;
            };
            reader.readAsDataURL(e.target.files[0]);
        }

        canvas.addEventListener('mousedown', function(e) {
            if (image.src) {
                currentRect = {
                    startX: e.offsetX,
                    startY: e.offsetY,
                    w: 0,
                    h: 0
                };
                drag = true;
            }
        });

        canvas.addEventListener('mousemove', function(e) {
            if (drag) {
                currentRect.w = e.offsetX - currentRect.startX;
                currentRect.h = e.offsetY - currentRect.startY;
                redraw();
            }
        });

        canvas.addEventListener('mouseup', function() {
            if (drag) {
                rects.push(currentRect);
                currentRect = null;
                drag = false;
            }
        });

        resetBtn.addEventListener('click', function() {
            if (rects.length > 0) {
                rects.pop();
                redraw();
            }
        });

        clearBtn.addEventListener('click', function() {
            location.reload();
        });

        okBtn.addEventListener('click', function() {
            showOverlay();
            const imageUrl = image.src;
            const dataUrl = canvas.toDataURL();

            const payload = {
                image: imageUrl,
                rects: rects.map(rect => [
                    rect.startX,
                    rect.startY,
                    rect.startX + rect.w,
                    rect.startY + rect.h,
                    [rect.startX + rect.w, rect.startY + rect.h]
                ])
            };

            fetch('/api/process_image/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify(payload)
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                hideOverlay();

                document.getElementById('inpaintedImage').src = 'data:image/png;base64,' + data.inpainted;

                const img = new Image();
            
                img.src = 'data:image/png;base64,' + data.inpainted;

                downloadBtn.href = 'data:image/png;base64,' + data.inpainted;
                downloadBtn.style.display = 'inline-block';
                continueBtn.style.display = 'inline-block';

                results.style.display = 'flex';
            })
            .catch(error => {
                console.error('Error:', error);
                hideOverlay();
            });
        });

        continueBtn.addEventListener('click', function() {
            const inpaintedSrc = inpaintedImage.src;
            loadNewImage(inpaintedSrc);
        });

        function loadNewImage(src) {
            image.src = src;
            image.onload = function() {
                const containerWidth = document.querySelector('.canvas-container').clientWidth;
                const containerHeight = document.querySelector('.canvas-container').clientHeight;
                const imageAspectRatio = image.width / image.height;
                const containerAspectRatio = containerWidth / containerHeight;

                if (imageAspectRatio > containerAspectRatio) {
                    canvas.width = containerWidth;
                    canvas.height = containerWidth / imageAspectRatio;
                } else {
                    canvas.height = containerHeight;
                    canvas.width = containerHeight * imageAspectRatio;
                }

                ctx.clearRect(0, 0, canvas.width, canvas.height);
                ctx.drawImage(image, 0, 0, canvas.width, canvas.height);
                canvas.style.cursor = 'crosshair';
                okBtn.style.display = 'inline-block';
                resetBtn.style.display = 'inline-block';
                clearBtn.style.display = 'inline-block';
                results.style.display = 'none';
                downloadBtn.style.display = 'none';
                continueBtn.style.display = 'none';
                rects = [];
                currentRect = null;
                drag = false;
            };
        }

        function redraw() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            ctx.drawImage(image, 0, 0, canvas.width, canvas.height);
            ctx.strokeStyle = 'red';
            ctx.lineWidth = 2;
            rects.forEach(rect => {
                ctx.strokeRect(rect.startX, rect.startY, rect.w, rect.h);
            });
            if (currentRect) {
                ctx.strokeRect(currentRect.startX, currentRect.startY, currentRect.w, currentRect.h);
            }
        }

        function showOverlay() {
            overlay.style.display = 'flex';
        }

        function hideOverlay() {
            overlay.style.display = 'none';
        }
    });
</script>
{% endblock removal %}
